Options -Indexes
ErrorDocument 404 /404/
Options FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /pages/erro.php?status=404 [L]
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>
