/*************************************************************SISTEMA*************************************************************************************************************/
.pagebody {
	width: 98%;
	height: 100%;
	padding: 0%;
	margin: 0%;
}

.page {
	width: 99%;
	height: 100%;
	padding: 0%;
	margin: 0%;
}

.subTitle {
	font-size: 19px;
	margin: 30px 0 10px 0;
}

.west {
	width: 10%;
	height: 100%;
}

.logo {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 5px;
}

.new_logo {
	max-height: 56px;
}

.title {
	color: #5271ff;
	width: 100%;
	height: 10%;
	height: 5%;
	font-size: 200%;
	border-bottom: solid 1px green;
	float: left;
	padding-bottom: 5px;
}

.text {
	padding-top: 10px;
	float: left;
	width: 100%;
	height: 30%;
	font-size: 15px;
	overflow: auto;
}

/******************************************************************** EXT*******************************************************************************************************/

.x-btn-text .x-icon-logout {
	margin-right: 10px;
}

.x-portal .x-panel-dd-spacer {
	margin-bottom: 10px;
}

.x-portlet {
	margin-bottom: 10px;
}

/* Clean up the look of the portlets */
.x-portlet .x-panel-ml {
	padding-left: 2px;
}

.x-portlet .x-panel-mr {
	padding-right: 2px;
}

.x-portlet .x-panel-bl {
	padding-left: 2px;
}

.x-portlet .x-panel-br {
	padding-right: 2px;
}

.x-portlet .x-panel-body {
	background: white;
}

.x-portlet .x-panel-mc {
	padding-top: 2px;
}

.x-portlet .x-panel-bc .x-panel-footer {
	padding-bottom: 2px;
}

.x-portlet .x-panel-nofooter .x-panel-bc {
	height: 2px;
}

/*!
 * Ext JS Library 3.4.0
 * Copyright(c) 2006-2011 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
.x-grouptabs-panel {
	background-color: #5271ff;
	border: solid 15px #5271ff;
}

.x-tab-panel-left .x-grouptabs-panel-header,.x-tab-panel-right .x-grouptabs-panel-header
	{
	float: left;
	border: 0;
	background: transparent;
}

.x-tab-panel-right .x-grouptabs-panel-header {
	float: right;
}

.x-tab-panel-left .x-grouptabs-bwrap {
	position: relative;
}

.x-tab-panel-right .x-grouptabs-bwrap {
	float: left;
	position: relative;
}

.x-tab-panel-left ul.x-grouptabs-strip,.x-tab-panel-right ul.x-grouptabs-strip
	{
	width: auto;
	display: block;
}

.x-tab-panel-left ul.x-grouptabs-strip li,.x-tab-panel-right ul.x-grouptabs-strip li
	{
	padding: 6px 0 2px 6px;
	float: none;
	margin: 0;
	position: relative;
	clear: both;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text,.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text
	{
	font-size: 13px;
	line-height: 18px;
	cursor: pointer;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text
	{
	padding-left: 18px;
}

.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text
	{
	padding-right: 18px;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text,.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text
	{
	font-size: 12px;
	padding: 0;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text
	{
	margin-left: 4px;
}

.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text
	{
	margin-right: 4px;
}

.x-grouptabs-panel .x-grouptabs-strip a.x-grouptabs-text {
	overflow: hidden;
	white-space: nowrap;
	display: block;
	color: #DFE8F6;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-overflow: ellipsis;
}

.x-tab-panel-right .x-grouptabs-strip a.x-grouptabs-text {
	text-align: right;
}

.x-grouptabs-panel .x-grouptabs-strip-active a.x-grouptabs-text {
	color: #000000;
}

.x-grouptabs-panel ul.x-grouptabs-sub a.x-grouptabs-text {
	font-weight: normal;
}

.x-tab-joint {
	position: absolute;
	width: 3px;
	top: 1px;
	background: #fff;
	z-index: 8999;
}

.x-grouptabs-panel .x-grouptabs-panel-body {
	border: 1px solid #999;
}

.x-grouptabs-panel ul.x-grouptabs-strip li {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.x-grouptabs-panel ul.x-grouptabs-strip li.x-grouptabs-strip-active {
	border: 1px solid #d0d0d0;
	background: #fff;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.x-tab-panel-left ul.x-grouptabs-strip li.x-grouptabs-strip-active {
	border-left: 1px solid #999;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.x-tab-panel-right ul.x-grouptabs-strip li.x-grouptabs-strip-active {
	border-right: 1px solid #999;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub li.x-grouptabs-strip-active
	{
	background-color: #EDEEF0;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub {
	background-color: transparent;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub li {
	border-color: transparent;
}

/* Tab corners */
.x-grouptabs-panel .x-grouptabs-corner {
	background-image: url('/images/x-grouptabs-corners.gif');
	display: none;
	width: 0px;
	height: 11px;
	position: absolute;
	font-size: 1px;
	line-height: 6px;
	overflow: hidden;
	zoom: 1;
}

.x-grouptabs-panel .x-grouptabs-strip-active .x-grouptabs-corner {
	display: block;
}

.x-grouptabs-panel .x-grouptabs-main.x-grouptabs-strip-active ul.x-grouptabs-sub .x-grouptabs-corner
	{
	display: none;
}

.x-grouptabs-sub {
    display: none;
    margin-top: 4px;
    max-height: 200px;
}

.x-grouptabs-main .x-grouptabs-expanded {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.x-grouptabs-panel .x-grouptabs-corner-top-left {
	background-position: top left;
	left: 0;
	top: 0;
}

.x-grouptabs-panel .x-grouptabs-corner-bottom-left {
	background-position: bottom left;
	left: 0;
	bottom: 0;
}

.x-grouptabs-panel .x-grouptabs-corner-top-right {
	background-position: top right;
	right: 0;
	top: 0;
}

.x-grouptabs-panel .x-grouptabs-corner-bottom-right {
	background-position: bottom right;
	right: 0;
	bottom: 0;
}

.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-bottom-left
	{
	bottom: -4px;
	left: -4px;
}

.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-bottom-right
	{
	bottom: -4px;
	right: -4px;
}

.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-top-left
	{
	top: -4px;
	left: -4px;
}

.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-top-right
	{
	top: -4px;
	right: -4px;
}

.x-grouptabs-panel ul.x-grouptabs-sub li.x-tab-with-icon a.x-grouptabs-text
	{
	background-repeat: no-repeat;
	padding-left: 20px;
}

/* General tab styling */
.x-grouptabs-panel .x-grouptabs-expand {
	background: transparent url('/images/elbow-plus-nl.gif')
		no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 7px;
	top: 6px;
}

.ext-ie6 .x-grouptabs-panel .x-grouptabs-expand,.ext-border-box .x-grouptabs-panel .x-grouptabs-expand
	{
	left: 0;
}

.x-grouptabs-expanded .x-grouptabs-expand {
	background-image: url('/images/elbow-minus-nl.gif');
}

/* GroupTabs sub group styling */
.x-grouptabs-sub {
	display: none;
	margin-top: 4px;
}

.x-grouptabs-expanded .x-grouptabs-sub {
	display: block;
}

.x-grouptabs-panel ul.x-grouptabs-sub li {
	height: 18px;
	margin: 0 0 2px;
	padding: 0;
}

.x-grouptabs-panel ul.x-grouptabs-sub .x-grouptabs-main-item {
	display: none;
}

.x-tab-with-icon {
	border-style: none !important;
}

.x-icon-tickets {
	background-image: url('/images/tickets.png');
}

.x-icon-reports {
	background-image: url('/images/report.gif');
}

.x-icon-subscriptions {
	background-image: url('/images/subscriptions.png');
}

.x-icon-users {
	background-image: url('/images/group.png');
}

.x-icon-templates {
	background-image: url('/images/templates.png');
}

.x-icon-menuitem {
	background-image: url('/images/menu_item.png');
}

.x-icon-logout {
	background-image: url('/images/logout.gif');
}

#span-top {
	font-family: 'Anonymous Pro', monospace;
}

.x-toolbar-right-ct {
	margin-top: 10px;
	margin-right: 15px;
}

/*======================================================================= Tags ===========================================================================================*/

form fieldset label { 
	font:12px verdana; 
	display:block; 
	width:210px; 
	text-align:left;
}

form fieldset label input {
	width:200px; 
	padding:3px; 
	font:14px verdana;
}   

#corpo {
	background-color:#5271ff; 
	padding:5px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#head {
	background-color:#5271ff;
	background-repeat:no-repeat; 
	height:62px; 
	text-align: center;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.loginForm {
	color: white;
}

/*======================================================================= Tags ===========================================================================================*/





