* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */


/* CSS */
.button {
  height: 44px;
}

.button, .button-exp-pdf, .button-exp-libre, .paginate_button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #ffffff;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  touch-action: manipulation;
}

.abaixo_tabela {
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}

.paginate_button.current {
  background-color: rgb(0 0 0 / 16%);
}

.dataTables_paginate {
  outline: none;
  overflow: hidden;
  right: 0;
  position: absolute;
}

.paginate_button  {
  height: 30px;
  appearance: button;
  color: black;
  background-color: #ffffff;
  padding: 5px 11px;
  border: 1px solid #222;
  margin-left: 5px;
  margin-top: 5px;
}

.button-label {
  margin-top: 13px;
  margin-right: 5px;
  float: left;
  display: block;
  position: absolute;
  margin-left: 5px;
}

.button {
  float: right;
  margin-left: 15px;
  margin: 10px 5px 12px;
}

span.ellipsis {
  margin-left: 5px;
}

.button-exp-pdf {
  height: 30px;
  justify-content: center;
  float: left;
  margin-right: 4px;
  margin-top: 5px;
  background-image: url("../images/pdf.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 30px;
  background-size: 25px;
}

.dataTables_length {
  padding: 0;
}

.dataTables_filter {
  margin-left: 10px;
  padding: 0;
}

.acima {
  display: inline-flex;
  margin-top: 20px;
}

.acima_consulta {
  margin-top: 25px;
}

.button-exp-libre {
  margin-left: 75;
  height: 30px;
  justify-content: center;
  float: left;
  margin-right: 4px;
  margin-top: 5px;
  background-image: url("../images/libre.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 30px;
  background-size: 25px;
}

.button:disabled, .button-exp-pdf:disabled, .button-exp-libre:disabled, .paginate_button:disabled {
  cursor: default;
}

.button:focus, .button-exp-pdf:focus, .button-exp-libre:focus, .paginate_button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

button:hover, .button-exp-pdf:hover, .button-exp-libre:hover, .paginate_button:hover {
	cursor: pointer;
}

.teste {
  display: table-cell;
  align-content: center;
  height: 44px;
}
.campos_1, .campos_2 {
  display: inline-block;
  margin-top: 15px;
}
.campos_1 {
  margin-left: 5px;
}
.campos_2 {
  margin-left: 10px;
}
table {
  border-spacing: 0;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border: 1px solid #5271ff;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #5271ff;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
td {
  border: 1px solid #cad7e9;
}

table.dataTable > tbody > tr:hover {
  text-shadow: 0px 0px 1px black;
}

.reset {
  width: auto;
  padding: 5px;
  text-align: left;
  color: black;
  height: auto;
  background-color: white;
  border: 0;
}

.consulta {
  margin-top: 15px;
}

.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #dfecfb;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  cursor: pointer;
}

.limitedHeight {
  max-height: 100px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0 10px 0;
  margin: auto;
  text-align: center;
}

.limitedHeightdec {
  max-height: 100px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0 10px 0;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 400px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    /*padding-left: 40% !important;*/
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.dataTables_empty {
  padding: 20px 0 20px 0;
}
